.box {
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    float: left;
}

.hr {
  border-top: 1px solid #e2e8f0;
}
